.btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.btn > button {
  margin: 5px;
  height: 40px;
  width: 45px;
  font-family: cursive;
  padding-top: 10px;
  border: 2px dotted green;
  border-radius: 10px;
}

.btn > button:hover {
  height: 45px;
  width: 50px;
  margin: 5px;
  background-color: aqua;
  box-shadow: 2px 2px yellow;
  font-size: 24px;
}
